body {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    color: white;
}

.hidden {
    display: none;
}

#center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#clock {
    margin: 30px;

    font-size: 150px;
    font-weight: bold;
}

.greeing-box {
    margin: 10px;
    font-size: 60px;
}
.text-box {
    height: 50px;
    width: 200px;

    font-size: 20px;
    border: none;
    border-bottom: 2px black bold;
}
.submit-box {
    height: 50px;
    width: 60px;

    border: 1px gray;
    border-radius: 10px;
}



#quote {
    margin: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    bottom: 10px;
    
    font-weight: 400;
}
#quote p:last-child {
    margin: 10px;
}



@keyframes quoteAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}
#quote:hover {
    animation: quoteAnimation 1s ease-in-out infinite;
}

#weather-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 25px;
    top: 10px;
}

@keyframes weatherAnimation {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(1.2);
    }
    100% {
        color: white;
        transform: none;
    }
}
#weather-icon:hover {
    animation: weatherAnimation 1s ease-in-out infinite;
}


#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 50px;
    top: 10px;

    font-weight: 500;
}

#weather span:last-child {
    margin-top: 5px;
}



.backgroundSet {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-size: cover;
}



#todo-form {
    margin: 20px;

}
#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 20px;
    
    background-color: rgba(128, 128, 128, 0.4);
    border: none;
    border-radius: 5px;
    
  }
  #todo-list > li {
    margin: 3px;
  }
  #todo-list > button {
    margin: 5px;
  }

.input_box {
    height: 30px;
    width: 300px;
    font-size: 20px;
    padding: 2px 5px;    
    border: none;
    border-bottom: 2px gray bold;
    border-radius: 5px;;

  }
